h1{
    color: white;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}
p.start{
    
    color: royalblue;
    
    text-align: center;
}
p.player{
    color: red;
    text-align: center;
    border: 1px solid blue;
    width: 100px;
    
}
td {
    border: 1px solid blue;
    height: 50px;
    width: 50px;
    }
    
    
    #circle {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: white;
    }

    table {
        background:orange;
    }

    
    